	<!-- main script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.9/jquery.fullPage.min.js"></script>

	@@if (server === "dnevnik"){
	<script src="https://ad.csdnevnik.ru/special/staging/puberty/js/dnevnik.js"></script>
	}
	@@if (server === "mosreg"){
	<script src="https://ad.csdnevnik.ru/special/staging/puberty/js/mosreg.js"></script>
	}
	@@if (server === "local"){
	<script src="assets/js/local.js"></script>
	}
</body>
</html>
