/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$always-big-name: 'always-big';
$always-big-x: 0px;
$always-big-y: 0px;
$always-big-offset-x: 0px;
$always-big-offset-y: 0px;
$always-big-width: 230px;
$always-big-height: 103px;
$always-big-total-width: 230px;
$always-big-total-height: 153px;
$always-big-image: '../images/sprite.png';
$always-big: (0px, 0px, 0px, 0px, 230px, 103px, 230px, 153px, '../images/sprite.png', 'always-big', );
$always-name: 'always';
$always-x: 0px;
$always-y: 103px;
$always-offset-x: 0px;
$always-offset-y: -103px;
$always-width: 113px;
$always-height: 50px;
$always-total-width: 230px;
$always-total-height: 153px;
$always-image: '../images/sprite.png';
$always: (0px, 103px, 0px, -103px, 113px, 50px, 230px, 153px, '../images/sprite.png', 'always', );
$logo-name: 'logo';
$logo-x: 113px;
$logo-y: 103px;
$logo-offset-x: -113px;
$logo-offset-y: -103px;
$logo-width: 113px;
$logo-height: 50px;
$logo-total-width: 230px;
$logo-total-height: 153px;
$logo-image: '../images/sprite.png';
$logo: (113px, 103px, -113px, -103px, 113px, 50px, 230px, 153px, '../images/sprite.png', 'logo', );
$spritesheet-width: 230px;
$spritesheet-height: 153px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($always-big, $always, $logo, );
$spritesheet: (230px, 153px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
